@import 'variables';

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  font-size: 1em;
  background-color: $gray;
  color: $text-color;
}

h1 {
  font-size: 2em;
  padding-left: 20px;
  color:white;
  background-color:#096ee3;
}
i{
  padding-left: 450px;
}

h2 {
  font-size: 1.6em;

}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
p {
  margin: 0;
}
h1,
h2{
  padding-top: 10px;
  padding-bottom: 10px;}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.phone{
  padding-left: 10px;
  //display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width:185px;
  background-color: white;
}
.allPhone{
  background-color:white;
  width: 100%;
  height: 590px;
}
img{
  height:150px;
  width: 150px;
}
button{
  background-color:#096ee3;
  color:white;
  width: 90px;
  height:25px;
  border: 0px;
  margin-left: 8px;
}
button:hover{
  background-color:#40a9ff;
}
main{
  background-color: white;
}
.count{
  position: relative;
  left:-10px;
  top:-50px;
  color: white;
  background-color:red;
}

